template(name="classroom")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Classes
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Mes classes
          // /.panel-heading
          .panel-body
            .table-responsive
              table#dataTables-example.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th #
                    th Ecole
                    th Classe
                    th Nombre d'étudiants
                    th Parcours en cours
                tbody
                  tr
                    td 1
                    td EPHEC
                    td 3TL1
                    td.center 42
                    td.center Aucun
                  tr
                    td 2
                    td EPHEC
                    td 3TL2
                    td.centre 46
                    td.centre Aucun
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | 3TL1
          .panel-body
            .table-responsive
              form#student-form(role="form").form-inline
                table#dataTables.table.table-striped.table-bordered.table-hover
                  thead
                    tr
                      th #
                      th Nom
                      th Prénom
                      th Nom d'utilisateur
                      th Mot de passe
                  tbody
                    each students
                      tr
                        th *
                        th #{profile.lastname}
                        th #{profile.firstname}
                        th #{username}
                        th *******
                    tr
                        th +
                        th 
                          input#lastname.form-control(type="text",placeholder="Nom")
                        th
                          input#firstname.form-control(type="text",placeholder="Prénom")
                        th
                          .form-group.input-group
                            input#name.form-control(type="text",placeholder="Nom d'utilisateur")
                            span.input-group-btn
                              button.btn.btn-default(type="button")
                                i Génerer
                        th
                          .form-group.input-group
                            input#pass.form-control(type="password",placeholder="Mot de passe")
                            span.input-group-btn
                              button.btn.btn-default(type="button")
                                i Génerer
