template(name="course")
  #page-wrapper
    .row
      .col-lg-12
        H1.page-header Parcours
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Mes parcours
          .panel-body
            .table-responsive
              table#myCourse.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Nom
                    th ..
                tbody
                  tr
                    td te
                    td st


    .row
      .col-lg-12
        .panel.panel-green
          .panel-heading
            | Parcours public
          .panel-body
            .table-responsive
              table#publicCourse.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Nom
                    th ..
                tbody
                  tr
                    td te
                    td st
