template(name="course")
  #page-wrapper
    +myCourse
    //+courseManagement
    +publicCourse
template(name="myCourse")
    .row
      .col-lg-12
        H1.page-header Parcours
    .row
      .col-lg-12
        .panel.panel-yellow
          .panel-heading
            | Mes parcours
          .panel-body
            .table-responsive
              table#myCourse.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th Nom
                    th Classe
                    th Partage
                tbody
                  +cours
                  +cours
                  td(colspan="3")
                    +courseManagement
                  +cours
template(name="cours")
  tr
    td Algorithmie niveau 1
    td Aucun
    td
      select
        option Public
        option Privé
template(name="publicCourse")
  .row
    .col-lg-12
      .panel.panel-yellow
        .panel-heading
          | Parcours public
        .panel-body
          .table-responsive
            table#publicCourse.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th Nom
                  th Auteur
              tbody
                tr
                  td Test
                  td Admin
