template(name="dashboard")

  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Panneau de gestion
      // /.col-lg-12
    // /.row
    .row
      .col-lg-3.col-md-6
        .panel.panel-primary
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-university.fa-5x
              .col-xs-9.text-right
                .huge #{school}
                div Écoles
          a(href="schools")
            .panel-footer
              span.pull-left Gèrer
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-users.fa-5x
              .col-xs-9.text-right
                .huge #{class}
                div Classes
          a(href="classroom")
            .panel-footer
              span.pull-left Gèrer
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-graduation-cap.fa-5x
              .col-xs-9.text-right
                .huge #{course}
                div Parcours
          a(href="course")
            .panel-footer
              span.pull-left Gèrer
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-3.col-md-6
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-child.fa-5x
              .col-xs-9.text-right
                .huge #{active}
                div Élèves actif
          a(href="#")
            .panel-footer
              span.pull-left Monitorer
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
    // /.row
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            | Activité globale de ce mois
          .panel-body
            #morris-area-chart
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            | Graphique intéressant
            .pull-right
              .btn-group
                button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                  | Actions
                  span.caret
                ul.dropdown-menu.pull-right(role="menu")
                  li
                    a(href="#") Informations
                  li
                    a(href="#") Modifier
                  li
                    a(href="#") Paramètres
                  li.divider
                  li
                    a(href="#") Masquer
          .panel-body
          // /.panel-heading
      // /.col-lg-8
      .col-lg-4
        .panel.panel-default
          .panel-heading
            i.fa.fa-bell.fa-fw
            | Notifications
          // /.panel-heading
          .panel-body
            .list-group
              a.list-group-item(href="#")
                i.fa.fa-child.fa-fw
                | Parcours 2 fini par classe 1 (50%).
                span.dropdown-menu-right.text-muted.small
                  i.fa.fa-clock-o.fa-fw
                  em 4 min
              a.list-group-item(href="#")
                i.fa.fa-users.fa-fw
                | Création de la classe 7.
                span.dropdown-menu-right.text-muted.small
                  i.fa.fa-clock-o.fa-fw
                  em 12 min
              a.list-group-item(href="#")
                i.fa.fa-graduation-cap.fa-fw
                | Modification parcours 2.
                span.dropdown-menu-right.text-muted.small
                  i.fa.fa-clock-o.fa-fw
                  em 5 h 43 min
              a.list-group-item(href="#")
                i.fa.fa-child.fa-fw
                | Parcours 3 fini par classe 2 (100%).
                span.dropdown-menu-right.text-muted.small
                  i.fa.fa-clock-o.fa-fw
                  em Hier
              // /.list-group
            a.btn.btn-default.btn-block(href="#") Toutes Les Notifications
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            | Un autre graphique utile
          .panel-body
            #morris-donut-chart
            a.btn.btn-default.btn-block(href="#") Détails
                    // /.panel-footer
        // /.panel .chat-panel
      // /.col-lg-4
    // /.row
  // /#page-wrapper
