template(name="home")
  br
  .row
    .col-md-3.col-md-offset-7
      button.btn.btn-success.btn-lg.btn-block(type="button")#login Connexion
  br
  .row
    .col-lg-4.col-lg-offset-2
      img.img-responsive.center-block(src="/logo.jpg")
    .col-lg-4
      br
      h1.text-center(style='font-size:14em; color:white')
        | LMS
      p.text-muted.text-center Learning Management System
  br
  .row(style="background-color:white")
    br
    .col-md-12
        .col-md-6
        
          h1 Le projet
          p 
            | Cette plateforme d'apprentissage encadre le 
            a(href="http://www.csited.be/projects/ilpads") projet ILPADS
            | , elle vise à initer les étudiants à l'algorithmique et à la programmation.
            br
            | Par le biais de différents parcours d'activités, cette plateforme permettra aux professeurs de gérer et d'encadrer l'évolution de leurs étudiants au cours de cet apprentissage.
        .col-md-6
          .row
            .col-md-8
              h1 Contributeur Principal
              p
              | Ce projet à été développé par Sylvain Nyssens dans le cadre de son travail de fin d'étude. (Bachelier en Technologie de l'informatique à l'
              a(href="http://www.ephec.be/") EPHEC
              | ).
              p Ce projet lui a été confié par Sébastien Combéfis pour encadrer le projet ILPADS.
            .col-md-4
              img.img-responsive.img-thumbnail(src="/author.jpg")
    .row
      .col-md-12.text-center
        a(href="mailto:sylvain@nyssens.be") Contact
        | -
        a(href="http://git.ecam.be/s.nyssens/ilpads-lms") Git
