template(name="professors")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Professeurs
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Liste des Professeurs
          .panel-body
            .table-responsive
              table#schools.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th #
                    th Ecole
                    th Nom
                    th Prénom
                    th Adresse mail
                tbody
                  tr
                    td 1
                    td ECAM
                    td X
                    td W
                    td x@ecam.be
                  tr
                    td 2
                    td EPHEC
                    td Y
                    td Z
                    td y@ephec.be
