template(name="schools")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Ecoles
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Liste des écoles
          .panel-body
            .table-responsive
              table#schools.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th #
                    th Nom
                    th Adresse
                    th Professeurs
                tbody
                  tr
                    td 1
                    td EPHEC
                    td Louvain-La-Neuve
                    td 8
                  tr
                    td 2
                    td ECAM
                    td Bruxelles
                    td 14
