template(name="schools")
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Ecoles
    .row
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            | Liste des écoles
          .panel-body
            .table-responsive
              form#class-form(role="form").form-inline
                table#schools.table.table-striped.table-bordered.table-hover
                  thead
                    tr
                      th #
                      th Nom
                      th Adresse
                      th Professeurs
                  tbody
                    each schools
                      +school  
                    tr
                      td +
                      td
                        input#name.form-control(type="text",placeholder="Nom")
                      td
                        input#adresse.form-control(type="text",placeholder="Adresse")
                      td
template(name="school")
  if editing
    tr
      td E
      td
        input#ename.form-control(type="text", value="#{name}")
      td
        input#eadresse.form-control(type="text",value="#{address}")
      td 0
  else
    tr
      td *
      td#edit #{name}
      td#edit #{address}
      td 0
